# Day_31

## **Set {set}**

**{Definition}:** <br>

A set is an unordered, mutable collection of unique items.

It is mainly used to store non-duplicate values and perform mathematical set operations like union, intersection, etc.

### {‚úÖ Key Properties}

- {Unordered} **‚úîÔ∏è** (no fixed position or index)
- {Mutable} **‚úîÔ∏è**
- {Index-based} **‚ùå**
- {Allows duplicates} **‚ùå**
- {Stores only unique values} **‚úîÔ∏è**
- {Allows multiple data types (int, str, float, tuple...)} **‚úîÔ∏è**
- {Dynamic size} ‚úîÔ∏è
- {Key‚Äìvalue pairs} ‚ùå


The data are store inside the list are sepatated by comma(,).

#### **{üìå Syntax}**

```
my_set = {10, 20j, 30.5, "hello", False}

In [ ]:
# empty set are created by this way

empty_set_correct = set()  # this is a empyt set CORRECT WAY
print(type(empty_set_correct))

empty_set_wrong = {} # this is a dictionary not a set
print(type(empty_set_wrong))

In [ ]:
info = {"ali", "ahmad", "khan" , 25.3 , 326 , 549j ,True ,"<<<<<<"}
print(type(info))
print(len(info))
print(info)
print("if u notice something strange here then yes sets are unordered collection of items so the order of items may vary each time u run this cell")

In [ ]:
set = {1,"ten",2,3,"hello",4,5,6,False,7,7,7,7,7,7,7,8,9,"one",10}
for i in set:
    print(i)# in the below result you see the order of items is different from the way we defined it because sets are unordered collection of items.

# Day_32

## **All Sets Method**

### **1. add()**	<br> 	
Adds an element to the set

In [ ]:
set = {"hello", 654, False, 32.5, 78j, "world", True, 100, "python", 3.14}

set.add("new item added")
print(set)

### **2. clear()**  <br>	
Removes all the elements from the set

In [ ]:
set = {"hello", 654, False, 32.5, 78j, "world", True, 100, "python", 3.14}

set.clear()  # this will remove all items from the set
print(set)

### **3. copy()**	 <br>	
Returns a copy of the set

In [ ]:
set = {"hello", 654, False, 32.5, 78j, "world", True, 100, "python", 3.14}

set.copy()# They create a shallow copy of the set.
print(set)

### **4. difference()**,**-** <br>	
Returns a set containing the difference between two or more sets

In [ ]:
set_1 = {1,2,3,4,5,6,7,8,9,10}
set_2 = {5,6,7,8,9,10,11,12,13,14,15}

diff = set_1.difference(set_2) # it will return those items which are only in set_1 not in set_2.Use the difference() method
print("difference is: ",diff)

diff = set_1-(set_2) # it will return those items which are only in set_1 not in set_2.Use the - operator 
print("difference is: ",diff)

### **5. difference_update()**,**-=** <br>	
Removes the items in this set that are also included in another, specified set

In [ ]:
set_1 = {1,2,3,4,5,6,7,8,9,10}
set_2 = {5,6,7,8,9,10,11,12,13,14,15}

diff_update = set_1.difference_update(set_2) # it will remove those items from set_1 which are also present in set_2
print("difference update is: ",set_1)

### **6. discard()**	 <br>	
Remove the specified item

In [ ]:
set = {"hello", 654, False, 32.5, 78j, "world", True, 100, "python", 3.14}

set.discard("world")  # it will remove the specified item from the set
print(set)

### **7. intersection()**,**&** <br>	
Returns a set, that is the intersection of two other sets

In [ ]:
set_1 = {1,2,3,4,5,6,7,8,9,10}
set_2 = {5,6,7,8,9,10,11,12,13,14,15}

intersection = set_1.intersection(set_2) # it will return those items which are common in both sets
print("intersection is: ",intersection)

### **8. intersection_update()**,**&=** <br>	
Removes the items in this set that are not present in other, specified set(s)

In [ ]:
set_1 = {1,2,3,4,5,6,7,8,9,10}
set_2 = {5,6,7,8,9,10,11,12,13,14,15}

intersection_update = set_1.intersection_update(set_2) # it will keep only those items in set_1 which are also present in set_2
print("intersection update is: ",set_1)

### **9. isdisjoint()**	<br> 	
Returns whether two sets have a intersection or not

In [ ]:
set_1 = {1,2,3,4,5,6,7,8,9,10}
set_2 = {5,6,7,8,9,10,11,12,13,14,15}

isdisjoint = set_1.isdisjoint(set_2) # it will return True if both sets have no items in common otherwise it will return False
print("is disjoint: ",isdisjoint)

### **10. issubset()**,**<=** <br>	
Returns True if all items of this set is present in another set

In [ ]:
set_1 = {1,2,3,4,5,6,7,8,9,10}
set_2 = {5,6,7,8,9,10}

is_subset_1 = set_2.issubset(set_1) # it will return True if all items of set_2 are present in set_1 otherwise it will return False.Use the issubset() method
print("is subset: ",is_subset_1)

is_subset_2 = set_1<=set_2 # it will return True if all items of set_1 are present in set_2 otherwise it will return False. use the <= operator
print("is subset: ",is_subset_2)

### **11. <**	<br> 
Returns True if all items of this set is present in another, larger set

In [ ]:
set_1 = {1,2,3,4,5,6,7,8,9,10}
set_2 = {5,6,7,8,9,10}

less_then = set_1 < set_2 # it will return True if all items of set_1 are present in set_2 and set_2 has some additional items otherwise it will return False. use the < operator
print("less then: ",less_then)

### **12. issuperset()**,**>=**	 <br> 
Returns True if all items of another set is present in this set

In [ ]:
set_1 = {1,2,3,4,5,6,7,8,9,10}
set_2 = {5,6,7,8,9,10}

is_superset_1 = set_1.issuperset(set_2) # it will return True if all items of set_2 are present in set_1 otherwise it will return False.Use the issuperset() method
print("is superset: ",is_superset_1)

is_superset_2 = set_2>=set_1 # it will return True if all items of set_1 are present in set_2 otherwise it will return False. use the >= operator
print("is superset: ",is_superset_2)

### **13. >** <br>	
Returns True if all items of another, smaller set is present in this set

In [ ]:
set_1 = {1,2,3,4,5,6,7,8,9,10}
set_2 = {5,6,7,8,9,10}

greater_then = set_1 > set_2 # it will return True if all items of set_2 are present in set_1 and set_1 has some additional items otherwise it will return False. use the > operator
print("greater then: ",greater_then)

### **14. pop()**	<br> 	
Removes an element from the set

In [ ]:
set = {"hello", 654, 32.5, 78j, "world", True, 100, "python", 3.14}

pop = set.pop()  # it will remove and return an arbitrary item from the set
print("popped item is: ",pop)# this show the element which is removed by the pop() method
print("set after popping an item: ",set)

### **15. remove()**	<br> 	
Removes the specified element

In [ ]:
set = {"hello", 654, 32.5, 78j, "world", True, 100, "python", 3.14}

remove = set.remove("hello")# it will remove the specified item from the set
print(set)

### **16. symmetric_difference()**,**^**  <br>	
Returns a set with the symmetric differences of two sets

In [ ]:
set_1 = {1,2,3,4,5,6,7,8,9,10}
set_2 = {5,6,7,8,9,10}

symmetric_diff_1 = set_1.symmetric_difference(set_2) # it will return those items which are in either set_1 or set_2 but not in both.Use the symmetric_difference() method
print("symmetric difference is: ",symmetric_diff_1)   

symmetric_diff_2 = set_2 ^ set_1 # it will return those items which are in either set_1 or set_2 but not in both.Use the ^ operator
print("symmetric difference is: ",symmetric_diff_2)

### **17. symmetric_difference_update()**,**^=**  <br>	
Inserts the symmetric differences from this set and another

In [ ]:
symmetric_deff_update_1 = set_1.symmetric_difference_update(set_2) # it will remove those items from set_1 which are also present in set_2 and add those items from set_2 which are not present in set_1
print("symmetric difference update is: ",set_1) 

set_1 ^= set_2  # it will remove those items from set_1 which are also present in set_2 and add those items from set_2 which are not present in set_1

### **18. union()**,**|** <br>	
Return a set containing the union of sets

In [ ]:
set_1 = {1,2,3,4,5,6,7,8,9,10}
set_2 = {5,6,7,8,9,10}

union_1 = set_1.union(set_2) # it will return a new set that contains all items from both sets, without duplicates.Use the union() method
print("union is: ",union_1)

union_2 = set_1 | set_2 # it will return a new set that contains all items from both sets, without duplicates.Use the | operator
print("union is: ",union_2)

### **19. update()**,**|=** <br>	
Update the set with the union of this set and others

In [11]:
set_1 = {1,2,3,4,5,6,7,8,9,10}
set_2 = {5,6,7,8,9,10}

update_1 = set_1.update(set_2) # it will add all items from set_2 to set_1, ignoring duplicates. Use the update() method
print("set after update is: ",set_1)    

set_1 |= set_2 # it will add all items from set_2 to set_1, ignoring duplicates. Use the |= operator

set after update is:  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

# Day_33

## **Dictionary {key:"value"}**

**{Definition}:** <br>

A dictionary is an unordered, mutable collection of data that stores values in key‚Äìvalue pairs.

It is mainly used to store data in a structured way, where each key is unique and is used to access its value.

### {‚úÖ Key : "Properties"}

- {Unordered} **‚úîÔ∏è** (no fixed position or index)
- {Mutable} **‚úîÔ∏è**
- {Index-based} **‚ùå**
- {Allows duplicate keys} **‚ùå**
- {Allows duplicate values} **‚úîÔ∏è**
- {Stores data as key‚Äìvalue pairs} **‚úîÔ∏è**
- {Keys must be unique} **‚úîÔ∏è**
- {Keys must be immutable (int, str, tuple)} **‚úîÔ∏è**
- {Values can be any data type} **‚úîÔ∏è**
- {Dynamic size} **‚úîÔ∏è**
- {Allows multiple data types} **‚úîÔ∏è**

The data mainly the value of the key is store in double quotes of string and so on....And the every key and value are separated by the comma(,).like { value : "key" }

#### **{üìå : "Syntax"}**

```
my_dict = {
    key1: value1,
    key2: value2,
    key3: value3
}
```

# Day_34

### **1. clear()**	Removes all the elements from the dictionary

In [ ]:
dict = {"name": "ali", "age": 25, "city": "karachi"}

clear = dict.clear()  # this will remove all items from the dictionary
print(dict)

### **2. copy()**	Returns a copy of the dictionary

In [ ]:
dict = {"name": "ali", "age": 25, "city": "karachi"}

copy = dict.copy()  # this will create a shallow copy of the dictionary
print(copy)


### **3. fromkeys()**	Returns a dictionary with the specified keys and value

In [ ]:
dict = {"name": "ali", "age": 25, "city": "karachi"}


fromkeys = dict.fromkeys(["name", "age", "city"], "unknown")  # this will create a new dictionary with the specified keys and a default value
print(fromkeys)
print(dict)

### **4. get()**	Returns the value of the specified key

In [ ]:
dict = {"name": "ali", "age": 25, "city": "karachi"}

get = dict.get("age")  # this will return the value of the specified key
print(get)

### **5. items()**	Returns a list containing a tuple for each key value pair

In [ ]:
dict = {"name": "ali", "age": 25, "city": "karachi"}

items = dict.items()  # this will return a view object that displays a list of a dictionary's key-value tuple pairs
print(items)

### **6. keys()**	Returns a list containing the dictionary's keys

In [ ]:
keys = dict.keys()  # this will return a view object that displays a list of all the keys in the dictionary
print(keys)

### **7. pop()**	Removes the element with the specified key

In [ ]:
pop = dict.pop("age")  # this will remove the specified key and return its value
print("popped item is: ",pop)  # this show the value of the removed key
print("dictionary after popping an item: ",dict)

### **8. popitem()**	Removes the last inserted key-value pair

In [ ]:
dict = {"name": "ali", "age": 25, "city": "karachi"}

popitem = dict.popitem()  # this will remove and return the last inserted key-value pair as a tuple
print("popped item is: ",popitem)  # this show the key-value pair removed by the popitem() method
print("dictionary after popping an item: ",dict)

### **9. setdefault()**	Returns the value of the specified key. If the key does not exist: insert the key, with the specified value

In [ ]:
dict = {"name": "ali", "age": 25, "city": "karachi"}

setdefault = dict.setdefault("country", "Pakistan")  # this will return the value of the specified key. If the key does not exist, it will insert the key with the specified value.The first parameter is the key to be searched, and the second parameter is the value to be set if the key is not found.
print("set default value is: ",setdefault)  # this show the value of the specified key
print("dictionary after setting default value: ",dict)

### **10. update()**	Updates the dictionary with the specified key-value pairs

In [ ]:
dict = {"name": "ali", "age": 25, "city": "karachi"}

update = dict.update({"age": 26, "country": "Pakistan"})  # this will update the value of the specified key. If the key does not exist, it will insert the key with the specified value.
print("dictionary after update: ",dict)

### **11. values()**	Returns a list of all the values in the dictionary

In [16]:
dict = {"name": "ali", "age": 25, "city": "karachi"}

values = dict.values()  # this will return a view object that displays a list of all the values in the dictionary
print(values)

dict_values(['ali', 25, 'karachi'])

# Day_35

## For Loops with Else Statments

In [ ]:
for i in range (3):
     print(i+1)
else:
     print("loop is ended")

In [ ]:
for i in []:# if this is executable then the program will not print anything because the list is empty.and shift into the else block and run its code.
    print(i)
else:
    print("No items to iterate")

In [ ]:
for i in range(10):
    print(i)
    if i==8:
        break
else:# you see that the loop Break statement is executed so the else block will be skipped.
    print("loop completed without break")